{%extends 'main/base.html' %} 
{% block content %}
<style>
     .column {
          float: left;
          width: 33%;
     }
     .column2 {
          float: left;
          width: 50%;
     }
             
     .row:after {
          content: "";
          display: table;
          clear: both;
     }

     th, td {
          border: 1px solid;
          text-align: center;
          vertical-align: middle;
        }

     table{
          width: 100%;
          border: 1px solid;
          border-collapse: collapsee
     }
</style>
</br>
          <div class="row">
               <div class="column2">
                    <a href="{% url 'paciente.novo' %}"><button type="button">Novo Paciente</button></a>
               </div>
               <div class="column2">
                    <form method="GET">
                         {% csrf_token %}
                         <p>Buscar: </p>
                         <input class="form-control" type="text" name="nome" required>
                         <input type="submit" value="Buscar"></input>
                    </form>
               </div>
          </div>

          </br>
          </br>

          <table>
               <thead>
                    <tr>
                         <th>Nome</th>
                         <th>Sexo</th>
                         <th>Data de Nascimento</th>
                         <th>Município</th>
                         <th>CEP</th>
                         <th>Endereço</th>
                         <th>Bairro</th>
                         <th>Número</th>
                         <th>Estado</th>
                         <th>Nº SUS</th>
                         <th>Nº CPF</th>
                         <th>Contato de Emergência</th>
                         <th colspan=4>Ações</th>
                    <tbody>
                         {% for paciente in object_list %} 
                         <tr>
                              <td>{{ paciente.nome_paciente }}</td>
                              <td>{{ paciente.sexo_paciente }}</td>
                              <td>{{ paciente.data_nascimento_paciente|date:"d/m/Y"}}</td>
                              <td>{{ paciente.municipio_paciente }}</td>
                              <td>{{ paciente.cep_paciente }}</td>
                              <td>{{ paciente.endereco_paciente }}</td>
                              <td>{{ paciente.bairro_paciente }}</td>
                              <td>{{ paciente.numero_paciente }}</td>
                              <td>{{ paciente.estado_paciente }}</td>
                              <td>{{ paciente.cartao_sus_paciente }}</td>
                              <td>{{ paciente.numero_do_documento_paciente }}</td>
                              <td>{{ paciente.contato_emergencia_paciente }}</td>
     
                              <td>
                                   <a href="{%url 'paciente.editar' paciente.pk %}"><button type="button">Editar</button></a>
                              </td>
                              <td>
                                   <a href="{%url 'paciente.remover' paciente.pk %}"><button type="button">Excluir</button></a>
                              </td>
                              <td>
                                   <form> <button type="submit" name="link" value={{ paciente.numero_do_documento_paciente }}>Fichas</button> </form>
                              </td>
                              <td>
                                   <form> <button type="submit" name="link2" value={{ paciente.numero_do_documento_paciente }}>Prontuários</button> </form>
                              </td>
                         </tr>
                         {% endfor %}
                    </tbody>
               </thead>
          </table>
     </br>
     </br>
          
{% endblock content%}