{%extends 'main/base.html' %} 
{% block content %}
<style>
     th, td {
          border: 1px solid;
          text-align: center;
          vertical-align: middle;
        }
     
     table{
          width: 70%;
          border: 1px solid;
          border-collapse: collapsee
     }
</style>
<a href="{% url 'unidade.novo' %}">Cadastrar Unidade</a>
</br>
</br>
<table>
     <thead>
          <tr>
               <th>Nome</th>
               <th>CNES</th>
               <th>CNPJ</th>
               <th>Orgão Emissor</th>
               <th>Endereço</th>
               <th>Bairro</th>
               <th>Número</th>
               <th>Estado</th>
               <th>CEP</th>
               <th colspan="2">Ações</th>
          </tr>
          <tbody>
               {% for unidade in object_list %}
               <tr>
                    <td>{{ unidade.nome_unidade }}</td>
                    <td>{{ unidade.cnes }}</td>
                    <td>{{ unidade.cnpj }}</td>
                    <td>{{ unidade.orgaoEmissor_unidade }}</td>
                    <td>{{ unidade.endereco_unidade }}</td>
                    <td>{{ unidade.bairro_unidade }}</td>
                    <td>{{ unidade.numero_unidade }}</td>
                    <td>{{ unidade.estado_unidade }}</td>
                    <td>{{ unidade.cep_unidade }}</td>
                    <td>
                         <a href="{% url 'unidade.remover' unidade.pk %}"><button type="button">Excluir</button></a>
                    </td>
               </tr>
               {% endfor %}
          </tbody>
     </thead>
</table>
{% endblock content%}