<!DOCTYPE html>
<html lang="pt-br">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
     <title>SIAH</title>
</head>
<body>
     <center>
     <h1>SIAH</h1>
     <h2>Sistema Informatizado para Arquivos Hospitalares </h2>
     </center>
     <hr></hr>
     <ul>
          <li><a href="{% url 'home' %}"><h4>Home</h4></a></li>
          <li><a href="{% url 'unidade.index' %}"><h4>Acessar Unidade</h4></a></li>
          <li><a href="{% url 'setor.index' %}"><h4>Acessar Setores</h4></a></li>
          <li><a href="{% url 'paciente.index' %}"><h4>Acessar Pacientes</h4></a></li>
          {% block content %}
          {% endblock content%}
     </ul>
</body>
</html>