{%extends 'main/base.html' %} 
{% block content %}
<style>
.column {
     float: left;
     width: 33%;
}

.column2 {
     float: left;
     width: 50%;
}
        
.row:after {
     content: "";
     display: table;
     clear: both;
}

th, td {
     border: 1px solid;
     text-align: center;
     vertical-align: middle;
   }

table{
     width: 50%;
     border: 1px solid;
     border-collapse: collapsee
}
</style>
</br>
     <div class="row">
          <div class="column2">
               <a href="{% url 'setor.novo' %}"><button type="button">Novo Setor</button></a>
          </div>
          <div class="column2">
               <form method="GET">
                    {% csrf_token %}
                    <p>Buscar: </p>
                    <input class="form-control" type="text" name="nome" required>
                    <input type="submit" value="Buscar"></input>
               </form>
          </div>
     </div>
     </br>
     </br>
     <table>
          <thead>
               <tr>
                    <th>Nome do Setor</th>
                    <th>Código do Setor</th>
                    <th colspan="2">Ações</th>
               </tr>
               <tbody>
                    {% for setor in object_list %}
                    <tr>
                         <td>{{ setor.nome_setor }}</td>
                         <td>{{ setor.codigo_setor }}</td>
                         <td>
                              <a href="{% url 'setor.remover' setor.pk %}"><button type="button">Excluir</button></a>
                         </td>
                         <td>
                              <a href="{% url 'setor.editar' setor.pk %}"><button type="button">Editar</button></a>
                         </td>
                    </tr>
                    {% endfor %}
               </tbody>
          </thead>
     </table>
     {{ user.time_vip }}
{% endblock content%}